@model OrdersViewModel
@{
    ViewBag.Title = "Orders";
}

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin_bottom_17">
                    <h2 class="title">
                        Orders
                    </h2>
                </div>
            </div>
        </div>
        <div id="tableContiner">

            <div class="container">
                <form class="form-inline" method="post">
                    <div class="form-group mb-2 ">
                        <input id="searchtxt" class="form-control" name="UserID" value="@Model.UserID" />
                        <button class="btn btn-primary ml-1" type="submit" id="search">Search</button>
                        <a class="btn btn-primary ml-1" type="button" id="reset" href="@Url.Action("Index","Order",new { pageNo = 1 })">Reset</a>
                    </div>
                </form>
            </div>
            <div>
                <table id="OrdersTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="font-weight-bold">User ID </th>
                            <th class="font-weight-bold">Total Price</th>
                            <th class="font-weight-bold">Status</th>
                            <th class="font-weight-bold wrap-td">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Orders != null && Model.Orders.Count > 0)
            {
                foreach (var order in Model.Orders)
                {
                                <tr>
                                    <td>@order.UserID</td>
                                    <td>
                                       @order.TotalAmount
                                    </td>
                                    <td>@order.Status</td>
                                    <td class="wrap-td">
                                        <a class="detailBtn" data-id="@order.ID" href="@Url.Action("Details","Order",new { ID = order.ID })">Details</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-danger">No Orders found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>

                    @if (Model.Pager != null && Model.Pager.TotalPages > 1)
            {
                if (Model.Pager.CurrentPage > 1)
                {
                            <a class="pageRecords" data-pageno="1" href="@Url.Action("Index","Order",new { userID = Model.UserID, status = Model.Status , pageNo = 1 })">First</a>
                            <a class="pageRecords" data-pageno="@(Model.Pager.CurrentPage - 1)" href="@Url.Action("Index","Order",new { userID = Model.UserID, status = Model.Status , pageNo = Model.Pager.CurrentPage - 1 })">Previous</a>
                        }
                        for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                            <a class="@activeClass pageRecords" data-pageno="@page" href="@Url.Action("Index","Order",new { userID = Model.UserID, status = Model.Status , pageNo = page })">@page</a>
                        }
                        if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <a class="pageRecords" data-pageno="@(Model.Pager.CurrentPage + 1)" href="@Url.Action("Index","Order",new { userID = Model.UserID, status = Model.Status , pageNo = Model.Pager.CurrentPage + 1 })">Next</a>
                            <a class="pageRecords" data-pageno="@(Model.Pager.EndPage)" href="@Url.Action("Index","Order",new { userID = Model.UserID, status = Model.Status , pageNo = Model.Pager.EndPage })">Last</a>
                        }
                    }
                </div>
            </div>

        </div>
        @*<div id="AddProductCon">

        </div>*@
    </div>
</section>



